*{
    font-family: 'Poppins', sans-serif;
}
.top-header{
   background-color:  rgba(38, 70, 83, 1);
}
.grayscale{
    filter: grayscale(100%);
}
.list-style{
    list-style: none;
}
li{
    margin-right: 20px;
}
.orange-color{
    color: rgba(231, 111, 81, 1);
}
.btn-bg{
    background-color:rgba(231, 111, 81, 1); 
}
.name{
    color: rgba(35, 166, 240, 1);
}
.btn-color{
    background-color: rgba(231, 111, 81, 1) ;
}
.font-color{
    color:rgba(255, 255, 255, 1);
}
